body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6.25rem;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    overflow: hidden;
    box-shadow: 0px 2px 4px;
    margin: 1.25rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card_content {
    padding: 1rem;
}

.card_content h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.card_content p {
    color: #666;
    font-size: 0.938rem;
    line-height: 1.3;
}

.card_content .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}

.card_content .btn:hover {
    background-color: white;
    color: #333;
}